body::-webkit-scrollbar {
    background: #333;
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 20px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #888;
    border-radius: 20px;
}

body::-webkit-scrollbar-track {
    background: #333;
    border-radius: 20px;
}

.no-scroll {
    overflow: hidden;
}

.no-js .preloader {
    display: none
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1040
}

.preloader__logo {
    opacity: 1;
    -webkit-transition: all 0.2s 0.2s ease-out;
    -moz-transition: all 0.2s 0.2s ease-out;
    -o-transition: all 0.2s 0.2s ease-out;
    transition: all 0.2s 0.2s ease-out
}

.preloader__slide {
    position: relative;
    width: 100%;
    height: 55%;
    background: #111111;
    z-index: 10;
    -webkit-transition: all 3.5s ease 0s;
    -moz-transition: all 3.5s ease 0s;
    -o-transition: all 3.5s ease 0s;
    transition: all 3.5s ease 0s
}

.preloader__slide--top {
    -webkit-transition: all 2.5s ease 0s;
    -moz-transition: all 2.5s ease 0s;
    -o-transition: all 2.5s ease 0s;
    transition: all 2.5s ease 0s;
    top: 0; height: 100%;
}

.preloader__slide--bottom {
    -webkit-transition: all 2.5s ease 0s;
    -moz-transition: all 2.5s ease 0s;
    -o-transition: all 2.5s ease 0s;
    transition: all 2.5s ease 0s;
    bottom: 0
}

.preloader--loaded .preloader__logo {
    opacity: 0
}

.preloader--loaded .preloader__slide--top {
    opacity: 0;
    /* top: -100% */
}

.preloader--loaded .preloader__slide--bottom {
    opacity: 0;
    /* bottom: -100% */
}

.preloader-logo {
    display: inline-block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    vertical-align: middle;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99;
    text-align: center
}

.preloader-logo:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%
}

.preloader-logo__wrapper {
    display: inline-block;
    text-align: center;
    margin: auto;
    width: 7%;
    min-width: 6.25em;
    position: relative
}

.preloader-logo__image {
    max-height: 100%;
    max-width: 100%
}

.preloader-logo__pulse-ring {
    top: 0;
    content: '';
    width: 100%;
    height: 100%;
    border: 1px solid #52b3d9;
    border-radius: 50%;
    position: absolute;
    animation: pulsate infinite 1s
}

@-webkit-keyframes pulsate {
    0% {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 1
    }
    100% {
        -webkit-transform: scale(1.3, 1.3);
        -moz-transform: scale(1.3, 1.3);
        -ms-transform: scale(1.3, 1.3);
        -o-transform: scale(1.3, 1.3);
        transform: scale(1.3, 1.3);
        opacity: 0
    }
}