.social-icons {
    margin-top: 1.5em
}

.social-icons__list {
    padding-left: 0;
    list-style: none
}

@media only screen and (max-width:768px) {
    .social-icons__list {
        margin-left: 0
    }
}

.social-icons__list-item {
    vertical-align: middle;
    display: inline-block;
    padding-left: .3125em;
    padding-right: .3125em
}

.social-icon-item__icon {
    display: inline-block;
    position: relative;
    color: #f7f7f7;
    font-size: 1.2em;
    margin-top: .3125em;
    line-height: 3em!important;
    text-align: center;
    border: 1px solid #f7f7f7;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out
}

.social-icon-item__icon:hover {
    background-color: #52b3d9;
    border-color: #52b3d9
}

.screen-reader-text {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}
